---
layout: base.njk
title: Resume of Jennifer Matos
keywords: resume, cv, about, personal, profile, portfolio, john doe
description: This is the personal website of Jennifer de Oliveira Cantante de Matos.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Hey there, I'm Jennifer Matos!</p>
<p class="mb-4">I am a strategic and results-driven Project Manager with a passion for driving product adoption and digital transformation. I thrive in dynamic environments, turning challenges into opportunities for innovation and growth.</p>